body{
    margin: 0px;
}

.header{
    background-color: orangered;
    height: 10rem;
    padding-left: 2rem;
}

.logo{
    background-image: url(images/Restaurant\ logo.jpg);
    height: 10rem;
    width: 10rem;
    background-size: cover;
    background-position-x: -20px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.header-nav{
    padding-left: 1rem;
    font-weight: 700;
}

.header-search{
    align-items: center;
    padding-right: 2rem;
    margin-left: auto;
}

.header-search-bar{
    height: 2rem;
    padding-left: 1rem;
    border-radius: 5px;
}

.ham-icon-div{
    display: none;
    align-self: center;
    font-size: 3rem;
    padding-right: 1rem;
}

.ham-icon{
    border: 2px solid white;
    padding: 1rem;

}

.header-search-button{
    height: 2rem;
    width: 4.5rem;
    border-radius: 5px;
    margin-left: 1rem;
    font-weight: 700;
    background-color: transparent;
}

.contents{
    max-width: 1200px;
}


.carousel-height{
    height: 35rem;
    object-fit: cover;
}

.main-content{
    max-width: 80rem;
}

.card-img{
    height: 16rem;
}

.footer{
    background-color: orangered;
    height: 10rem;
    padding-left: 2rem;
}

.map-footer{
    height: 8rem;
}

.card-style{
    width: 18rem; 
    margin: auto;
}


@media screen and (max-width: 1199px){
    .card-style{
        margin-top: 3rem;
    }

    .footer{
        height: 15rem;
    }
}


@media screen and (max-width: 875px){
    .header-nav{
        display: none !important;
    }

    .ham-icon-div{
        display: block;
    }

    .header-search-bar{
        display: none;
    }

    .header-search-button{
        display: none;
    }
}


@media screen and (max-width: 655px){
    .map-footer{
        width: 100%;
        padding: 0.2rem;
    }
}